<div class="menu">
  <div class="label">Explore more</div>
  <div class="spacer"></div>
  <a href="https://www.tigerbyte.dev/github" class="item" target="_blank" rel="noopener noreferrer">GitHub</a>
  <a href="https://www.tigerbyte.dev/contact" class="item" target="_blank" rel="noopener noreferrer">Contact</a>
  <a href="https://www.tigerbyte.dev/youtube" class="item" target="_blank" rel="noopener noreferrer">YouTube</a>
  <a href="https://www.tigerbyte.dev/discord" class="item" target="_blank" rel="noopener noreferrer">Discord</a>
  <a href="https://www.tigerbyte.dev/linktree" class="item" target="_blank" rel="noopener noreferrer">Other Links</a>
</div>
